.login {
    width: 100%;
    height: 79.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-form-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-btn {
    display: flex;
    justify-content: center;
}

.login-btn-btn {
    width: 10rem;
}

/* dashbord */

.dashbord {
    width: 100%;
    height: 100%;
}

.project-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

/* create */

.create, .edit {
    width: 100%;
    height: 72.3vh;
}

.create-section, form, .edit-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.create-section-btn, .edit-section-btn {}

.create-section-input, .edit-section-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}